* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url(../jpg/Future-of-DC-Justice-League-Wallpaper-2017-Movie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 28px;
}

header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.win_rund {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card_active {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 3px;
  background-image: url("../jpg/dc.jpg");
  border-radius: 4px;
  cursor: default;
  filter: brightness(100%);
  border: 5px solid rgba(0, 17, 253, 0.5);
}

.card {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 3px;
  background-image: url("../jpg/dc.jpg");
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  filter: brightness(70%);
  border: 5px solid rgba(0, 17, 253, 0.5);
}

.card:hover {
  transform: scale(0.97);
  filter: brightness(100%);
}

.score {
  margin-top: 5px;
  letter-spacing: 2px;
}
